= form_for @address, url: "/addresses" do |f|

  Address:
  %br/
  = f.text_field :address_one, id: "gmaps-input-address", class: "form-control"
  %br/

  = f.text_field :lat, id: "gmaps-output-latitude", disabled: true
  = f.text_field :lng, id: "gmaps-output-longitude", disabled: true
  %br/
  %br/

  #gmaps-canvas(style="width: 100%; height: 400px;")

  = submit_tag "Save"

